body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
#cronometro {
    font-size: 32px;
    font-weight: bold;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media (width>=600px) {
    #cronometro {
        font-size: 48px;
    }
    .btns button {
        font-size: 20px;
        display: flex;
        padding: 20px;
    }
}
